<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Mirai</h1>
    <p class="lead">Govhack2016 project!</p>
  </div>
</header>



<div class="container">
  <form>
    <div class="row">
        <div class="form-group col-xs-3 col-md-3">
          <label for="industry">Industry</label>
          <input type="text" class="form-control" id="industry" placeholder="Information Technology">
        </div>
        <div class="form-group col-xs-3 col-md-3">
          <label for="currentLocation">Current Location:</label>
          <input class="form-control" id="currentLocation" placeholder="Brisbane, Queensland">
        </div>
        <div class="form-group col-xs-3 col-md-3">
          <label for="futureLocation">Future Location:</label>
          <input class="form-control" id="futureLocation" placeholder="Silicon Valley, San Fransisco">
        </div>
        <div class="form-group col-xs-3 col-md-3">
          <label for="age">Age:</label>
          <input class="form-control" id="age" placeholder="21">
        </div>
    </div>
    <div class="row rowWithFullWidth">
      <button type="submit" class="btn btn-default pull-right">Find me a better home...</button>
    </div>
  </form>
  <div class="row">
      <div class="col-md-4">
        <canvas id="firstChart" width="400" height="400"></canvas>
        <script>
          var ct1 = document.getElementById("firstChart");
          var firstChart = new Chart(ct1, {
            type: 'pie',
            data: {
              labels: [
                "Red",
                "Blue",
                "Yellow"
              ],
              datasets: [
                {
                  data: [300, 50, 100],
                  backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                  ],
                  hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                  ]
                }]
            }
          });
        </script>
      </div>
      <div class="col-md-4">
        <canvas id="secondChart" width="400" height="400"></canvas>
        <script>
          var ctx = document.getElementById("secondChart");
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ["Current Location", "Future Location"],
              datasets: [{
                label: 'Averge # of people with HELP per SA4',
                data: [12, 19],
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero:true
                  }
                }]
              }
            }
          });
        </script>
      </div>
      <div class="col-md-4">
        <canvas id="thirdChart" width="400" height="400"></canvas>
        <script>
          var ct3 = document.getElementById("thirdChart");
          var myChart = new Chart(ct3, {
            type: 'line',
            data: {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets: [
                {
                  label: "My First dataset",
                  fill: false,
                  lineTension: 0.1,
                  backgroundColor: "rgba(75,192,192,0.4)",
                  borderColor: "rgba(75,192,192,1)",
                  borderCapStyle: 'butt',
                  borderDash: [],
                  borderDashOffset: 0.0,
                  borderJoinStyle: 'miter',
                  pointBorderColor: "rgba(75,192,192,1)",
                  pointBackgroundColor: "#fff",
                  pointBorderWidth: 1,
                  pointHoverRadius: 5,
                  pointHoverBackgroundColor: "rgba(75,192,192,1)",
                  pointHoverBorderColor: "rgba(220,220,220,1)",
                  pointHoverBorderWidth: 2,
                  pointRadius: 1,
                  pointHitRadius: 10,
                  data: [65, 59, 80, 81, 56, 55, 40],
                  spanGaps: false,
                }
              ]
            }
          });
        </script>
      </div>
  </div>
</div>

<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
-->
